* {
	box-sizing: border-box;
  }

.top-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 40px;
}

.top-header .rightside img{
	margin-top: 5px;
}
.icon{
	width: 40px;
	height: 40px;
 }


.logo{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-color: black;
	border-style:double;
	
}
.top_nav_img{
	width: 25px;
	height: auto;
	padding-right: 10px;
	margin: 0;
}


.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

}
/* search bar style*/
.searchbar {

	width: 100%;
	max-width: 1000px;
	background-color: #a8dadc;
	display:flex;
	align-items: center;
	border-radius: 60px;
	padding: 0px 5px;
}

.searchbar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 4px 10px;
	font-size: 20px;
	
}

.searchbar button img{
	height: 25px;
	width: 25px;
}

.searchbar button{
	border: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #a8dadc;
	cursor: pointer;

}

/*navigation style*/
.navi{
    list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
    width: 100%;
	padding: 0 0 0 250px;
}

.navi li{
    float: left;
    position:static;
	display: block;
	text-align: center;
	padding: 14px 16px;
	}

.navi li a{
	text-decoration: none;
	color: black;
}

/*footer style*/
.row #column{
	float: left;
  	width: 33.33%;
  	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
  }

.footer {
	background-color: #457b9d;
	color: white;
	padding: 20px;
	text-align: center;
  }
  .row .social-h3, .about-para, .social-h4{
	text-align:center;
  }

  .row .social-links{
	list-style-type: none;
  }

  .row .social-links li{
	display: inline-flex;
	padding: 10px 40px;
  }

  .row .social-links li img{
	width: 40px;
	height: auto;
  }
  
  .row .quick-links{
	list-style-type: none;
  }

  .row .quick-links a{
	text-decoration: none;
	color: white;
	align-items: center;
  }

  .row .quick-links li{
	line-height: 36px;
	text-align: center;
  }

  .row .quick-head{
	padding-left: 30px;
  }
  
  .footer-copyright {
	clear: both;
  }
  
  
  